
@font-face {
    font-family: 'ZCOOLXiaoWei'; 
    src: url('@/assets/fonts/ZCOOLXiaoWei-Regular.ttf') format('truetype'); 
    font-weight: normal;
    font-style: normal;
  }
@font-face {
    font-family: 'AlimamaShuHeiTi'; 
    src: url('@/assets/fonts/AlimamaShuHeiTi-Bold.ttf') format('truetype'); 
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'PMDZ'; 
    src: url('@/assets/fonts/PMZD.ttf') format('truetype'); 
    font-weight: normal;
    font-style: normal;
  }